.env
archive/

.idea
__pycache__

pdffigures2/target/
pdffigures2/pdf_dir/

// Ignore the downloaded/derived data
pdffigures2/evaluation/datasets/**/*.pdf
pdffigures2/evaluation/datasets/**/*.jpeg
pdffigures2/evaluation/datasets/**/*.jpg
pdffigures2/evaluation/datasets/**/*.pgm

pdffigures2/*.pkl